.searchbar {
  opacity: 0;
  width: 50% !important;
}
.visible {
  opacity: 1;
}
.top-nav-collapse {
  background-color: #2e2e2e !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 31.333%;
  margin: 1%;
}
@media (max-width: 575px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}
.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
